body {
    color: #0f0f0f;
    background: #bfbfbf;
    font-family: monospace;
    text-align: center;

}

p {
    font-family: monospace;
    text-align: center;
    font-size: 30px;
}

input[type=text],[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #0f0f0f;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset], button {
    width: 100%;
    background-color: #4CAF50;
    color: #0f0f0f;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button:hover {
    background-color: #45a049;
}

.content{
    float: left;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 45%;
}

#box-login, #box-register {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 250px;
    margin: 0 auto;
}

#box-roomlist {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 20%;
    float: left;
}

#box-stats {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 20%;
    float: left;
}

.container {
    position: absolute;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
}


#box-roomlist ul {
    list-style-type: none;
}